@model EqipmentAdmin.Models.Passport
@*@model EqipmentAdmin.Models.Equipment*@

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Passport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentId.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.EquipmentId.Serial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
